.navbar {
    background-color: #006400; /* Define o tom de verde */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

body{
    margin: 0;
}

.logo {
    color: #fff; /* Define a cor branca para o texto */
    font-size: 3rem;
    font-weight: bold;
    textDecoration: 'none';
}
